:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #34d399;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  // height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

html {
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  > * {
    width: 100%;
  }

  .card-inside {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      margin: 0;

      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
}
